<mat-toolbar color="primary" class="top-nav custom-color">
    <button mat-icon-button (click)="nav.toggle()"><mat-icon class="custom-color-icons">menu</mat-icon></button>
    <div class="logo"><svg
        class="h-8 w-8 fill-current text-white dark:text-blue-300"
        viewBox="0 0 24 24">
        <path
            d="M12 3L1 9l4 2.18v6L12 21l7-3.82v-6l2-1.09V17h2V9L12 3m6.82
            6L12 12.72 5.18 9 12 5.28 18.82 9M17 16l-5 2.72L7 16v-3.73L12
            15l5-2.73V16z"></path>
    </svg></div>
    <div class="extra"></div>
    <button mat-icon-button (click)="singout()"><mat-icon class="custom-color-icons">person</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-wrapper">
    <mat-sidenav #nav opened mode="side">
        <a [routerLink]="['dashboard']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">dasborad</span>
            </button>
        </a>
        <a [routerLink]="['adminclass']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">person</mat-icon>
                <span class="custom-color-text">class</span>
            </button>
        </a>
        <a [routerLink]="['adminteacher']" color="primary">
            <button mat-button>
                <mat-icon> class="custom-color-text"person_add</mat-icon>
                <span class="custom-color-text">teacher</span>
            </button>
            
        </a>
        <a [routerLink]="['adminstudent']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">student</span>
            </button>
        </a>
        <a [routerLink]="['adminsubject']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">Subject</span>
            </button>
        </a>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
