

<div class="container-fluid">
  <h2>Dashboard</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category" style="color: #9A9A9A;">Total Shipments</h5>
         
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="piechart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>


     <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="color: #9A9A9A;">
                            CLass</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" style="color: #9A9A9A;">1</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="color: #9A9A9A;">
                            Teachers</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 "style="color: #9A9A9A;">{{teacher}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="color: #9A9A9A;">attendance
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" style="color: #9A9A9A;">{{percentage}}%</div>
                            </div>
                            <div class="col">
                                
                                  <mat-progress-bar mode="determinate" value={{percentage}}></mat-progress-bar>

                                
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</div>


      <div class="row">
        
        <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category" style="color: #9A9A9A;">Daily Sales</h5>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="barchart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category" style="color: #9A9A9A;">Completed Tasks</h5>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="chart" ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

  

 


  

  

</div>
   

 
  
      
  
  
      
    