<mat-dialog-content class="mat-typography mt-5">
    <div class="container-fluid">
        <div class="container">
            <div class="content">
              <form  class="content__form" [formGroup]="forms">
                <div class="content__inputs">
                  <label>
                    <input required="" type="text" formControlName="name">
                    <span> username</span>
                  </label>
                  <small *ngIf="forms.controls['name'].invalid && forms.controls['name'].touched">
                    <small class="text-danger" *ngIf="forms.controls['name'].errors?.['required']">*name required</small>
                    <small class="text-danger" *ngIf="forms.controls['name'].errors?.['trimError']">*space shouldnt be there</small>
                  </small>
                  <label>
                    <input required="" type="text" formControlName="email">
                    <span>Email</span>
                  </label>
                  <small *ngIf="forms.controls['email'].invalid && forms.controls['email'].touched">
                    <small class="text-danger" *ngIf="forms.controls['email'].errors?.['required']">*email required</small>
                    <small class="text-danger" *ngIf="forms.controls['email'].errors?.['email']">*formatt required</small>
                  </small>
                  <label>
                    <input required="" type="text" formControlName="phone">
                    <span>Phone Number</span>
                  </label>
                  <small *ngIf="forms.controls['phone'].invalid && forms.controls['phone'].touched ||forms.controls['phone'].dirty">
                    
                    <small class="text-danger" *ngIf="forms.controls['phone'].errors?.['minlength']">*min 10 needed</small>
                    <small class="text-danger" *ngIf="forms.controls['phone'].errors?.['maxlength']">*max 10 only needed</small>
                    <small class="text-danger" *ngIf="forms.controls['phone'].errors?.['required']">*phone required</small>
                    <small class="text-danger" *ngIf="forms.controls['phone'].errors?.['pattern']">*should be number</small>
                    <small class="text-danger" *ngIf="forms.controls['phone'].errors?.['trimError']">*phone required</small>
                  </small>
                  
                  <label *ngIf="updateactive">
                    <input required="" [type]="type" formControlName="password">
                    <span>Password</span>
                    <div class="fa {{eyeicon}}" (click)="triggerye()"></div>
                  </label>
                  <small *ngIf="forms.controls['password'].invalid && forms.controls['password'].touched ">
                    <small class="text-danger" *ngIf="forms.controls['password'].errors?.['required']">*password required</small>
                  </small>
                  <label *ngIf="updateactive">
                    <input required="" [type]="type" formControlName="confirm">
                    <span>confirm password</span>
                    <div class="fa {{eyeicon}}" (click)="triggerye()"></div>
                  </label>
                  <small *ngIf="forms.controls['confirm'].invalid && forms.controls['confirm'].touched ">
                    <small class="text-danger" *ngIf="forms.controls['confirm'].errors?.['required']">*confirm password required</small>
                  </small>
                  <small class="text-danger"  *ngIf="confirmwrong">*not correct</small>
                  <label>
                  
                    <mat-select formControlName="subject" >
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                    <span>subjects</span>
                  </label>
                  
                  <small *ngIf="forms.controls['subject'].invalid && forms.controls['subject'].touched">
                    <small class="text-danger" *ngIf="forms.controls['subject'].errors?.['required']">*subject required</small>
                  </small>
                </div>
               
               
              </form>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="Onsubmit()" >{{actionbut}}</button>
      </mat-dialog-actions> 
          
          