
   
    <div class="dashboard">
      
      <div class="widget">
        <h2>class</h2>
        <p>TOTAL CLASS :{{class}}</p>
      </div>
   
 
      <div class="widget">
        <h2>student</h2>
        <p>TOTAL CLASS :{{student}}</p>
      </div>


      <div class="widget">
        <h2>teacher</h2>
        <p>TOTAL CLASS :{{teacher}}</p>
      </div>

</div>

    <div class="row">
        
        <div class="col-lg-4">
            <div class="container"> 
          <h2>Pie Chart</h2>
       
            <canvas id="piechart"></canvas> 
   
        </div>
      </div>
    </div>
    


    
  