table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }
  .added{
    margin-top: 20px;
    margin-right: 2px;
    display: flex;
    justify-content: right;
  }  
  .container-fluid{
    margin-top: 27px;
  }
  .mat-elevation-z8{
    overflow-x: auto;
  }