<mat-dialog-content class="mat-typography mt-5">
    <div class="container-fluid">
        <div class="container">
            <div class="content">
              <form  class="content__form" [formGroup]="forms">
                <div class="content__inputs">
                  
                  <mat-form-field appearance="fill">
                    <mat-label>Subject Name</mat-label>
                    <input matInput placeholder="Subject Name" type="text" formControlName="subject">
                    <mat-hint *ngIf="forms.controls['subject'].invalid && forms.controls['subject'].touched">
                      <mat-hint class="text-danger" *ngIf="forms.controls['subject'].errors?.['required']">*subject required</mat-hint>
                      <mat-hint class="text-danger" *ngIf="forms.controls['subject'].errors?.['trimError']">*Space should not be there</mat-hint>
                    </mat-hint>
                  </mat-form-field>
                </div>
               
              </form>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="Onsubmit()" >{{buttonaction}}</button>
      </mat-dialog-actions> 
          