<div class="container clearfix">
  <div class="left-side">
    <nav class="message-nav">
      <!-- Loop through all students -->
      <div class="nav-link" *ngFor="let student of allStudentsData" (click)="sendMessageToStudent(student)">
        {{ student.name }}
      </div>
    </nav>
  </div>
  

  <!-- Right side: Display messages -->
  <div class="right-side">
    <div class="chat-header">
      <h2>Chat</h2>
      <h3 *ngIf="selectedStudent" class="selected-student">{{ selectedStudent.name }}</h3>
    </div>
    <div class="chat-messages">
      <div *ngFor="let message of allMessages" class="message-container">
        <div [ngClass]="{'left-side': message.sender === teacherName, 'right-side': message.sender !== teacherName}">
          <div class="message-content">{{ message.content }}</div>
          <div class="user-info">
            <span class="message-time">{{ message.timestamp | date: 'hh:mm a' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input" *ngIf="selectedStudent">
      <div class="input-container">
        <input type="text" [(ngModel)]="messageInput" placeholder="Type your message">
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
