<mat-toolbar color="primary" class="top-nav custom-color">
    <button mat-icon-button (click)="nav.toggle()"><mat-icon class="custom-color-icons">menu</mat-icon></button>
    <div class="logo">Logo</div>
    <div class="extra"></div>
    <button mat-icon-button (click)="singout()"><mat-icon  class="custom-color-icons">person</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-wrapper">
    <mat-sidenav #nav opened mode="side">
        <a [routerLink]="['dasboard']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">dasborad</span>
            </button>
        </a>
        <a [routerLink]="['class']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">person</mat-icon>
                <span class="custom-color-text">class</span>
            </button>
        </a>
        <a [routerLink]="['teachetassigment']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">person_add</mat-icon>
                <span class="custom-color-text">assignmnet</span>
            </button>
            
        </a>
        <a [routerLink]="['chatteacher']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">chat</span>
            </button>
        </a>
        <a [routerLink]="['notes']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">notes</span>
            </button>
        </a>
        <a [routerLink]="['attendaceclass']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">attendance</span>
            </button>
        </a>
        <a [routerLink]="['sheduleclass']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">shedule</span>
            </button>
        </a>
        <a [routerLink]="['mock']" color="primary">
            <button mat-button>
                <mat-icon class="custom-color-text">home</mat-icon>
                <span class="custom-color-text">shedule</span>
            </button>
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
