
<mat-dialog-content class="mat-typography mt-5">
    <div class="container-fluid">
        <div class="container">
            <div class="content">
              <form  class="content__form" [formGroup]="forms">
             
                <mat-form-field appearance="fill">
                  <mat-label>Class Name</mat-label>
                  <input matInput placeholder="Class Name" type="text" formControlName="name">
                  <mat-hint *ngIf="forms.controls['name'].invalid && forms.controls['name'].touched">
                    <mat-hint class="text-danger" *ngIf="forms.controls['name'].errors?.['required']">*Name required</mat-hint>
                    <mat-hint class="text-danger" *ngIf="forms.controls['name'].errors?.['trimError']">*Space should not be there</mat-hint>
                  </mat-hint>
                </mat-form-field>
               
               
              </form>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="Onsubmit()" >{{actionbut}}</button>
      </mat-dialog-actions> 
          
          