table {
  width: 100%;
  background-color: #27293d;
  color: rgba(255, 255, 255, 0.7);
}

.mat-mdc-form-field {
  background-color: #27293d;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  width: 100%;
}

td, th {
  background-color: #27293d;
  color: rgba(255, 255, 255, 0.7);
  width: 10%;
}
.added{
  margin-top: 20px;
  margin-right: 2px;
  display: flex;
  justify-content: right;
} 

::ng-deep.mat-mdc-paginator-container{
  background-color: #27293d;
  color: rgba(255, 255, 255, 0.7);
}

::ng-deep.mat-mdc-select-value-text {
  color: white;
}



