:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.active-link {
  background-color:  rgb(255 255 255 / 0.1);; /* Change this to your desired active link background color */
 
  /* Add any other styles you want for the active link */
}